<!-- app/templates/survey/index.html-->

{% extends "base.html" %}
{% block body %}
<div>
    <p>{{ informed_consent.intro }}</p>
    <h4>{{ informed_consent.purpose_header }}</h4>
    <p>{{ informed_consent.purpose }}</p>
    <h4>{{ informed_consent.contact_header }}</h4>
    <p>{{ informed_consent.contact }}</p>
    <h4>{{ informed_consent.voluntary_header }}</h4>
    <p>{{ informed_consent.voluntary }}</p>
    <h4>{{ informed_consent.statement_header }}</h4>
    <p>{{ informed_consent.statement }}</p>
</div>
{% endblock %}