<!-- app/templates/survey/page_five_expose.html-->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}
<form class="form form-horizontal survey-background" method="post" role="form">
    <div class="container">
        <p>{{ form_text.show_tweet }}</p>
        <div class="tweet-box">Show tweet with emoji here</div>
        <br/>
        <br/>
        <p>{{ form_text.expose }}</p>
        <div class="tweet-box">Show tweets with emoji here</div>
        <br/>
        <br/>

        {{ form.hidden_tag() }}

        <div class="form-group has-danger">
            <div class="container">
                {{ wtf.form_field(form.aware) }}
                {% if form.aware.errors %}
                    <div class="form-control-feedback">{% for error in form.aware.errors %}* {{ error }}{% endfor %}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="push"></div>
    <div class="footer">
        <div class="container row justify-content-end">
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>
{% endblock %}