<!-- app/templates/survey/page_six_explain.html-->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}
<form class="form form-horizontal survey-background" method="post" role="form">
    <div class="container">
        <p>{{ form_text.here }}</p>

        <p>{{ form_text.explain1 }}</p>

        <img class="container img-fluid rounded" src="{{ url_for('static', filename='img/same_emoji_demo.png') }}">
        <br/>
        <br/>
        <p>{{ form_text.explain2 }}</p>
        <br/>

        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.describe_reaction) }}

        <br/>
        <div class="form-group {% if form.reaction.errors %}has-danger{% endif %}">
            <p>{{ form_text.reaction }}</p>
            {{ form.reaction(class="form-control short-text-field") }}
            {% if form.reaction.errors %}
                <div class="form-control-feedback">{% for error in form.reaction.errors %}* {{ error }}{% endfor %}</div>
            {% endif %}
        </div>
    </div>
    <div class="push"></div>
    <div class="footer">
        <div class="container row justify-content-end">
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>
{% endblock %}