<!-- app/templates/survey/page_nine_audience.html-->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}
<form class="form form-horizontal survey-background" method="post" role="form">
    <div class="container">
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.audience_description) }}

        <br/><p>{{ form_text.audience }}</p>
        <div class="form-group">
            <div class="container">
                {{ wtf.form_field(form.friends_in_audience) }}
                {{ wtf.form_field(form.family_in_audience) }}
                {{ wtf.form_field(form.professional_in_audience) }}
                {{ wtf.form_field(form.online_only_in_audience) }}
                {{ wtf.form_field(form.strangers_in_audience) }}
                {{ wtf.form_field(form.other_in_audience) }}
                {{ form.other_in_audience_desc(class="form-control short-text-field push-right") }}
            </div>
        </div>

        <br/><p>{{ form_text.all_devices }}</p>
        <div class="form-group">
            <div class="container">
                {{ wtf.form_field(form.use_on_iPhone) }}
                {{ wtf.form_field(form.use_on_iPad) }}
                {{ wtf.form_field(form.use_on_MacBook) }}
                {{ wtf.form_field(form.use_on_iMac) }}
                {{ wtf.form_field(form.use_on_iOS_Other) }}
                <div class="pad-bottom">{{ form.iOS_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_Samsung_Phone) }}
                {{ wtf.form_field(form.use_on_Samsung_Tablet) }}
                {{ wtf.form_field(form.use_on_Samsung_Other) }}
                <div class="pad-bottom">{{ form.Samsung_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_Google_Phone) }}
                {{ wtf.form_field(form.use_on_Google_Tablet) }}
                {{ wtf.form_field(form.use_on_Google_Other) }}
                <div class="pad-bottom">{{ form.Google_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_LG_Phone) }}
                {{ wtf.form_field(form.use_on_LG_Other) }}
                <div class="pad-bottom">{{ form.LG_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_Motorola_Phone) }}
                {{ wtf.form_field(form.use_on_Motorola_Other) }}
                <div class="pad-bottom">{{ form.Motorola_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_HTC_Phone) }}
                {{ wtf.form_field(form.use_on_HTC_Other) }}
                <div class="pad-bottom">{{ form.HTC_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_Amazon_Kindle) }}

                {{ wtf.form_field(form.use_on_Blackberry_Phone) }}
                {{ wtf.form_field(form.use_on_Blackberry_Tablet) }}
                {{ wtf.form_field(form.use_on_Blackberry_Other) }}
                <div class="pad-bottom">{{ form.Blackberry_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_Windows_Phone) }}
                {{ wtf.form_field(form.use_on_Windows_Tablet) }}
                {{ wtf.form_field(form.use_on_Windows_Laptop) }}
                {{ wtf.form_field(form.use_on_Windows_Desktop) }}
                {{ wtf.form_field(form.use_on_Windows_Other) }}
                <div class="pad-bottom">{{ form.Windows_Other_desc(class="form-control short-text-field push-right") }}</div>

                {{ wtf.form_field(form.use_on_Other) }}
                <div class="pad-bottom">{{ form.Other_desc(class="form-control short-text-field push-right") }}</div>
            </div>
        </div>

        <br/><p>{{ form_text.emoji_applications }}</p>
        <div class="form-group">
            <div class="container">
                {{ wtf.form_field(form.use_Hangouts) }}
                {{ wtf.form_field(form.use_Gmail) }}
                {{ wtf.form_field(form.use_Email) }}
                {{ wtf.form_field(form.use_Facebook) }}
                {{ wtf.form_field(form.use_Messenger) }}
                {{ wtf.form_field(form.use_Instagram) }}
                {{ wtf.form_field(form.use_Snapchat) }}
                {{ wtf.form_field(form.use_Slack) }}
                {{ wtf.form_field(form.use_Whatsapp) }}
            </div>
        </div>
    </div>
    <div class="push"></div>
    <div class="footer">
        <div class="container row justify-content-end">
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>
{% endblock %}