<!-- app/templates/survey/page_ten_future.html-->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}
<form class="form form-horizontal survey-background" method="post" role="form">
    <div class="container">
        {{ form.hidden_tag() }}

        <p>{{ form_text.future }}</p>
        <div class="form-group has-danger">
            <div class="container">
                {{ wtf.form_field(form.contact_in_future) }}
                {% if form.contact_in_future.errors %}
                    <div class="form-control-feedback">{% for error in form.contact_in_future.errors %}* {{ error }}{% endfor %}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="push"></div>
    <div class="footer">
        <div class="container row justify-content-end">
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>
{% endblock %}