<!-- app/templates/survey/page_five_expose.html-->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}
<form class="form form-horizontal survey-background" method="post" role="form">
    <div class="container">
        <p>{{ form_text.show_tweet }}</p>
        <div class="push-right tweet-box">{{ tweet | safe }}</div>
        <br/>
        <br/>
        <p>{{ form_text.expose }}</p>
        <div class="push-right tweet-box">
            {% for (platform_name,version_name,tweet_text) in tweets %}
                <div class="row align-items-center">
                    <div class="col-8"><p>{{ tweet_text | safe }}</p></div>

                    <div class="col smaller-text">
                        <b><p>{{ platform_name }} {{ version_name }}</p></b>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br/>
        <br/>

        {{ form.hidden_tag() }}

        <div class="form-group has-danger">
            <div class="container">
                {{ wtf.form_field(form.aware) }}
                {% if form.aware.errors %}
                    <div class="form-control-feedback">{% for error in form.aware.errors %}* {{ error }}{% endfor %}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="push"></div>
    <div class="footer">
        <div class="container row justify-content-end">
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>
{% endblock %}