/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
    background: #eee7d5;
}

.survey-background {
    background: #fef7e5;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

td {
    height: auto;
    padding-right: 5px;
    vertical-align: middle;
}

img {
    position: relative;
}

.pad-bottom {
    padding-bottom: 15px;
}

.manual-radio {
    height: 100%;
    margin-top: -5px;
    vertical-align: middle;
}

.small-text {
    font-size: 90%;
}

.tweet-box {
    border-style: solid;
    border-width: thin;
    padding: 10px;
}

.short-text-field {
    max-width: 200px;
}

.push-right {
    margin-left: 20px;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #f8f8f8;
    background-color: #ffcc33;
    border-color: #7a0019;
}

.btn-default {
    background-color: #ffcc33;
    width: 90px;
    color: #fef7e5;
}

.btn-default:hover {
    background-color: #ffb409;
}

.intro-header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: #7a0019;

    height: 100%;
}

.footer {
    padding: 20px;
    background-color: #7a0019;
    background-size: cover;
}

.push {
    clear: both;
    height: 2em;
    background: #fef7e5;
}