<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <div class="header clearfix">
        <p>UMN Emoji Study</p>
      </div>
      <div class="wrapper">
        {% block body %}
        {% endblock %}
        <div class="push"></div>
      </div>
      <footer class="footer">
        <div class="container">
            <p>UMN Emoji Study</p>
        </div>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
