<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UMN Emoji Study</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            <div class="intro-header">
                <img class="header-img" src="{{ url_for('static', filename='img/UMN-D2D.png') }}">
            </div>

            <div class="push"></div>
            {% block body %}
            {% endblock %}
        </div> <!-- /container -->
    </body>
</html>
